In [1]:
#Import dependencies

import pandas as pd

import gmaps

import requests

#iMPORT THE API KEY

from config import g_key

In [2]:
#Store the CSV you saved created in part one into a DataFrame

city_data_df = pd.read_csv('weather_data/cities.csv')

city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Mar Del Plata,AR,2022-08-08 23:03:46,-38.0023,-57.5575,49.08,88,0,10.36
1,1,Porto Santo,PT,2022-08-08 23:03:47,33.0720,-16.3415,71.98,68,40,13.80
2,2,Haines Junction,CA,2022-08-08 23:03:47,60.7522,-137.5108,55.38,62,99,8.77
3,3,Albany,US,2022-08-08 23:02:43,42.6001,-73.9662,90.63,55,50,7.96
4,4,Ushuaia,AR,2022-08-08 23:00:27,-54.8000,-68.3000,32.61,85,89,8.93

In [3]:
#Configure gmaps to use your google API key.

gmaps.configure(api_key = g_key)

#General way to create a heat map

#1. Assign the locations to an array of latitude and longitude pairs.

locations = [latitude, longitude]

#2. Asign the weights variables to some values.

temperatures = # an array of length equal to the locations array lengths

#3 Assign the figure variable to the gmaps.figure() attribute.

fig = gmaps.figure()

#4 Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.

heatmap_layer = gmaps.heatmap_layer(locations, weights = temperatures)

#5 Add the heatmap layer.

fig.add_layer(heatmap_layer)

#6 call the figure to plot the data.

fig

In [4]:
#Get the maximum temperature.

max_temp = city_data_df['Max Temp']

temps = []

for temp in max_temp:
    
    temps.append(max(temp,0))

In [5]:
#Heatmap of temperatures

#Get the latitude and longitude

locations = city_data_df[['Lat','Lng']]

#Get the maximum temperature.

max_temp = city_data_df['Max Temp']

#Assign the figure variable

fig = gmaps.figure(center = (30.0,31.0), zoom_level = 1.5)

#Assign the heatmap variable

heat_layer = gmaps.heatmap_layer(locations, weights = [max(temps,0) for temps in max_temp], dissipating = False, max_intensity = 300, point_radius = 4)

#Add the heatmap layer

fig.add_layer(heat_layer)

#Call the figure to plot the data

fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
#Heatmap of humidity

#Get the latitude and longitude

locations = city_data_df[['Lat','Lng']]

#Get the maximum temperature.

humidity = city_data_df['Humidity']

#Assign the figure variable

fig = gmaps.figure(center = (30.0,31.0), zoom_level = 1.5)

#Assign the heatmap variable

heat_layer = gmaps.heatmap_layer(locations, weights = humidity, dissipating = False, max_intensity = 300, point_radius = 4)

#Add the heatmap layer

fig.add_layer(heat_layer)

#Call the figure to plot the data

fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
#Heatmap of percent cloudiness

#Get the latitude and longitude

locations = city_data_df[['Lat','Lng']]

#Get the maximum temperature.

cloudiness = city_data_df['Cloudiness']

#Assign the figure variable

fig = gmaps.figure(center = (30.0,31.0), zoom_level = 1.5)

#Assign the heatmap variable

heat_layer = gmaps.heatmap_layer(locations, weights = cloudiness, dissipating = False, max_intensity = 300, point_radius = 4)

#Add the heatmap layer

fig.add_layer(heat_layer)

#Call the figure to plot the data

fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
#Heatmap of wind speed

#Get the latitude and longitude

locations = city_data_df[['Lat','Lng']]

#Get the maximum temperature.

wind_speed = city_data_df['Wind Speed']

#Assign the figure variable

fig = gmaps.figure(center = (30.0,31.0), zoom_level = 1.5)

#Assign the heatmap variable

heat_layer = gmaps.heatmap_layer(locations, weights = wind_speed, dissipating = False, max_intensity = 500, point_radius = 5)

#Add the heatmap layer

fig.add_layer(heat_layer)

#Call the figure to plot the data

fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
#Ask the customer to add a minimum and maximum temperature value

min_temp = float(input('What is the minimum temperature you would like for your trip? '))

max_temp = float(input('What is the maximum temperature you would like for your trip? '))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [7]:
#Filter the dataaset to find the cities that fit the criteria.

preferred_cities_df = city_data_df.loc[(city_data_df['Max Temp'] <= max_temp) &(city_data_df['Max Temp'] >= min_temp)]

preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
8,8,Cururupu,BR,2022-08-08 23:03:51,-1.8283,-44.8683,75.36,89,8,4.72
10,10,Panipat,IN,2022-08-08 23:03:52,29.3889,76.9681,81.70,73,22,5.84
12,12,Mamallapuram,IN,2022-08-08 23:02:18,12.6264,80.1722,85.05,64,100,15.48
14,14,Cozumel,MX,2022-08-08 23:00:51,20.5083,-86.9458,86.00,79,50,5.99
17,17,Hilo,US,2022-08-08 23:03:59,19.7297,-155.0900,89.28,85,100,1.01
20,20,Kapaa,US,2022-08-08 23:04:00,22.0752,-159.3190,87.78,68,75,10.36
26,26,Victoria,HK,2022-08-08 23:04:00,22.2855,114.1577,82.45,83,96,11.01
27,27,Ewa Beach,US,2022-08-08 23:04:07,21.3156,-158.0072,89.55,51,75,15.01
30,30,Aripuana,BR,2022-08-08 23:04:10,-9.1667,-60.6333,81.36,56,80,0.76
32,32,Butaritari,KI,2022-08-08 23:04:12,3.0707,172.7902,81.01,80,78,15.17

In [11]:
#Create a DataFrame called hote_df to store hotel names along with city, country, max temp and coordinates

hotel_df = preferred_cities_df[['City', 'Country', 'Max Temp', 'Lat', 'Lng']].copy()

hotel_df['Hotel Name'] = ''

hotel_df.head()

params = { 

'radius': 5000,
'type': 'lodging',
'key': g_key
}

In [14]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    
    try:
        
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError):
            
            print('Hotel not found... skipping')
            
hotel_df.head()

Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping

,City,Country,Max Temp,Lat,Lng,Hotel Name
8,Cururupu,BR,75.36,-1.8283,-44.8683,POUSADA TRAVÉS'CIA
10,Panipat,IN,81.70,29.3889,76.9681,SPOT ON 68644 Shri Shyam Guest House
12,Mamallapuram,IN,85.05,12.6264,80.1722,Radisson Blu Resort Temple Bay Mamallapuram
14,Cozumel,MX,86.00,20.5083,-86.9458,Cozumel Palace® All Inclusive Resort
17,Hilo,US,89.28,19.7297,-155.0900,Hilo Hawaiian Hotel

In [15]:
hotel_df.count()

City          182
Country       182
Max Temp      182
Lat           182
Lng           182
Hotel Name    182
dtype: int64

In [16]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations)

fig.add_layer(heat_layer)

fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

#Store the dataframe row

hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [21]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)

fig.add_layer(heat_layer)

fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))