In [38]:
#Import the dependencies

import pandas as pd

import matplotlib.pyplot as plt

import numpy as np

from citipy import citipy
from config import weather_api_key
import requests

In [29]:
#Create a set of random latitude and longitude combinations

lats = np.random.uniform(low = -90, high = 90, size = 1500)

lngs = np.random.uniform(low = -180, high = 180, size = 1500)

lat_lngs = zip(lats, lngs)

lat_lngs

In [30]:
#Add latitudes and longitudes to alist

coordinates = list(lat_lngs)

In [31]:
#Create a list for holding the cities

cities = []

#Identify the nearest city for each latitude and longitude combination.

for coordinate in coordinates:
    
    city = citipy.nearest_city(coordinate[0], coordinate[1]).city_name
    
    #If the city is unique, then we will add it to the cities list.
    
    if city not in cities:
        
        cities.append(city)
        
#Print the city count to confirm sufficent count

print(len(cities))

634

In [25]:
#Import the time library and the datetime module from the datetime library

import time

from datetime import datetime

In [39]:
#Create an empty list to hold the weather data.

city_data = []

#Create the url


url = f'https://api.openweathermap.org/data/2.5/weather?units=imperial&appid={weather_api_key}'

#Print the beginning of the logging.

print('Beginning Data Retrieval        ')

print('--------------------------------')

#Create the counters.

record_count = 1

set_count = 1

#Loop through all the cities in our list.

    
for i, city in enumerate(cities):

    #Group cities in sets of 50 for logging purposes.

    if(i % 50 == 0 and i>= 50):

        set_count += 1

        record_count = 1

        time.sleep(60)

        #Create enpoint URL with each city.

        city_url = url+'&q='+city.replace(' ','+')

        #log the URL, record, and set numbers and the city

        print(f'Processing Record {record_count} of Set{set_count} | {city}')

        #Add 1 to the record count.

        record_count += 1
        
    #Run an API request for each of the cities

# Run an API request for each of the cities.
    try:
        # Parse the JSON and retrieve data.
        city_weather = requests.get(city_url).json()
        # Parse out the needed data.
        city_lat = city_weather["coord"]["lat"]
        city_lng = city_weather["coord"]["lon"]
        city_max_temp = city_weather["main"]["temp_max"]
        city_humidity = city_weather["main"]["humidity"]
        city_clouds = city_weather["clouds"]["all"]
        city_wind = city_weather["wind"]["speed"]
        city_country = city_weather["sys"]["country"]
        # Convert the date to ISO standard.
        city_date = datetime.utcfromtimestamp(city_weather["dt"]).strftime('%Y-%m-%d %H:%M:%S')
        # Append the city information into city_data list.
        city_data.append({"City": city.title(),
                          "Lat": city_lat,
                          "Lng": city_lng,
                          "Max Temp": city_max_temp,
                          "Humidity": city_humidity,
                          "Cloudiness": city_clouds,
                          "Wind Speed": city_wind,
                          "Country": city_country,
                          "Date": city_date})

# If an error is experienced, skip the city.
    except:
        print("City not found. Skipping...")
        pass

# Indicate that Data Loading is complete.
print("-----------------------------")
print("Data Retrieval Complete      ")
print("-----------------------------")

Beginning Data Retrieval
--------------------------------
Processing Record 1 of Set2 | sao filipe
Processing Record 1 of Set3 | mar del plata
Processing Record 1 of Set4 | coihaique
Processing Record 1 of Set5 | vila do maio
Processing Record 1 of Set6 | labuhan
Processing Record 1 of Set7 | shelburne
Processing Record 1 of Set8 | nelson bay
Processing Record 1 of Set9 | comodoro rivadavia
Processing Record 1 of Set10 | alyangula
Processing Record 1 of Set11 | kasongo-lunda
Processing Record 1 of Set12 | tambun
Processing Record 1 of Set13 | sovetskaya gavan
-----------------------------
Data Retrieval Complete
-----------------------------

In [40]:
len(city_data)

634

In [41]:
#convert the array of dictionaries to a Pandas DataFrame.

city_data_df = pd.DataFrame(city_data)

city_data_df.head(10)

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Albany,66.1451,-65.7125,48.2,71,75,8.05,CA,2022-08-08 21:16:19
1,Pangnirtung,66.1451,-65.7125,48.2,71,75,8.05,CA,2022-08-08 21:16:19
2,San Andres,66.1451,-65.7125,48.2,71,75,8.05,CA,2022-08-08 21:19:56
3,Ushuaia,66.1451,-65.7125,48.2,71,75,8.05,CA,2022-08-08 21:19:56
4,Laguna,66.1451,-65.7125,48.2,71,75,8.05,CA,2022-08-08 21:19:56
5,Bambous Virieux,66.1451,-65.7125,48.2,71,75,8.05,CA,2022-08-08 21:19:56
6,Belushya Guba,66.1451,-65.7125,48.2,71,75,8.05,CA,2022-08-08 21:19:56
7,Chuy,66.1451,-65.7125,48.2,71,75,8.05,CA,2022-08-08 21:19:56
8,Nikolskoye,66.1451,-65.7125,48.2,71,75,8.05,CA,2022-08-08 21:19:56
9,Punta Arenas,66.1451,-65.7125,48.2,71,75,8.05,CA,2022-08-08 21:19:56

In [42]:
#Rearrange the columns

column_order = ['City', 'Country', 'Date', 'Lat', 'Lng', 'Max Temp', 'Humidity', 'Cloudiness', 'Wind Speed']

city_data_df = city_data_df[column_order]

city_data_df.head()

,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,Albany,CA,2022-08-08 21:16:19,66.1451,-65.7125,48.2,71,75,8.05
1,Pangnirtung,CA,2022-08-08 21:16:19,66.1451,-65.7125,48.2,71,75,8.05
2,San Andres,CA,2022-08-08 21:19:56,66.1451,-65.7125,48.2,71,75,8.05
3,Ushuaia,CA,2022-08-08 21:19:56,66.1451,-65.7125,48.2,71,75,8.05
4,Laguna,CA,2022-08-08 21:19:56,66.1451,-65.7125,48.2,71,75,8.05

In [43]:
#create the output file (csv)

output_data_file = 'weather_data/cities.csv'

#Export the city data into csv

city_data_df.to_csv(output_data_file, index_label = 'City_ID')